/* Remove default spacing */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* Page styles */
body{
    font-family:Arial;
    background:linear-gradient(
        135deg,
        #0f172a,
        #1e293b
    );
    color:white;
}

/* Navigation */
nav{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 10%;
}

.links a{
    color:white;
    text-decoration:none;
    margin-left:20px;
}

.links a:hover{
    color:#38bdf8;
}

/* Hero */
.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:80px 10%;
    gap:40px;
}

.hero-text h1{
    font-size:3rem;
}

.hero-text p{
    margin:20px 0;
}

/* Button */
button{
    padding:12px 25px;
    border:none;
    border-radius:10px;

    background:#38bdf8;
    color:white;

    cursor:pointer;

    transition:.3s;
}

button:hover{
    transform:translateY(-5px);
}

/* Profile image */
.hero-image img{
    width:250px;
    border-radius:50%;
}

/* Section titles */
.skills,
.projects,
.contact{
    padding:70px 10%;
}

.skills h2,
.projects h2,
.contact h2{
    margin-bottom:30px;
}

/* Grid Layout */
.skill-container,
.project-container{
    display:grid;

    grid-template-columns:
    repeat(
        auto-fit,
        minmax(200px,1fr)
    );

    gap:20px;
}

.card,
.project{
    background: rgba(
        255,
        255,
        255,
        0.1
    );
   
    padding: 20px;
     border-radius: 15px;
}